.link_button {
  white-space: nowrap;
  padding: 8px 16px;
  color: #8b8b8b;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  border: 1px solid rgb(229, 229, 229);
  font-weight: 700;
  background-color: white;
}

.link_button:hover {
  color: black;
  cursor: pointer;
}

@media (max-width: 500px) {
  .link_button {
    font-size: 14px;
    display: none;
  }
}

@media (max-width: 360px) {
  .link_button {
    padding: 12px 24px 12px 24px;
  }
}
