.sort_all_container {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  flex-wrap: wrap;
}

.sort_all_container label {
  margin-right: 16px;
}

.sort_all_container input {
  margin-right: 40px;
}

.price_sort_container {
  display: flex;
  width: fit-content;
  align-items: center;
}

.form_container input {
  width: 112px;
  height: 36px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 6px;
  padding: 16px;
  font-weight: 500;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.right_child {
  margin-left: -20px;
}

.filter_container {
  display: flex;
  align-items: center;
}

.my_checkbox {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(179, 178, 178);
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.my_checkbox:checked:before {
  left: -2px;
  top: -2px;
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgb(179, 178, 178);
  background-color: rgb(51, 153, 51);
}

.my_checkbox:checked:after {
  appearance: none;
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 16px;
  border: 2px solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: 5px;
  left: 12px;
}

.sorted_container select {
  font-weight: 500;
  text-indent: 15px;
  width: 200px;
  height: 36px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .price_sort_container {
    width: fit-content;
    margin-bottom: 20px;
  }

  .filter_container {
    margin-bottom: 20px;
  }

  .sorted_container select {
    margin-bottom: 20px;
  }
}

@media (max-width: 440px) {
  .form_container {
    width: fit-content;
  }
  .price_sort_container {
    width: 90%;
  }

  .sort_all_container label {
    margin-right: 16px;
  }

  .sort_all_container input {
    margin-right: 40px;
  }
  .form_container {
    display: flex;
  }

  .right_child {
    margin-left: -20px;
  }
}
