@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");


.singleProductContainer {
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 32px;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "image title"
    "image price"
    "image description";
  grid-template-rows: 50px 170px 350px;
}

.productImageContainer img {
  width: 100%;
  object-fit: cover;
  grid-area: image;
  max-height: 572px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  grid-area: title;
  width: 95%;
  height: fit-content;
}

.btnContainer {
  width: 100%;
}

.pricePlusMinusButtonContainer {
  grid-area: price;
}

.descriptionContainer {
  margin-top: 25px;
  width: 100%;
  grid-area: description;
}

.priceContainer {
  display: flex;
  margin-top: 25px;
  width: 95%;
}

.salePrice {
  font-size: 64px;
  font-weight: 700;
}

.price {
  text-decoration: line-through;
  color: rgba(139, 139, 139);
  margin-top: 29px;
  font-size: 40px;
  font-weight: 500;
  margin-left: 32px;
}

.salePercentContainer {
  width: 63px;
  height: 34px;
  padding: 4px 8px 4px 8px;
  background-color: rgba(51, 153, 51, 1);
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
  text-align: center;
}

.addProductContainer {
  height: 100%;
  margin-top: 32px;
  max-width: 548px;
}

.plusAndMinusContainer {
  display: flex;
  border-radius: 6px;
  border-top: 1px solid rgba(139, 139, 139);
  border-bottom: 1px solid rgba(139, 139, 139);
  height: 58px;
  align-items: center;
  width: fit-content;
  margin-right: 32px;
}

.plus {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(139, 139, 139);
  border-radius: 6px;
}

.plus:hover {
  cursor: pointer;
}

.minus {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(139, 139, 139);
  border-radius: 6px;
}

.minus:hover {
  cursor: pointer;
}

.number {
  display: flex;
  width: 96px;
  height: 58px;
  justify-content: center;
  align-items: center;
}

.number p {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  height: 100%;
  align-items: center;
}

.textTitle {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  color: rgb(40, 40, 40);
  font-family: "Montserrat", sans-serif;
}

.plusAndMinusAndButtonContainer {
  display: flex;
}

@media (max-width: 1000px) {
  .productImageContainer img {
    width: 100%;
    height: 572px;
  }

  .singleProductContainer {
    gap: 20px;
    margin-bottom: 70px;
    grid-template-rows: 50px 180px 300px;
  }

  .price {
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    .singleProductContainer {
      grid-template-columns: 3fr 2fr;
      grid-template-areas:
        "image title"
        "image price"
        "description description";
      grid-template-rows: 50px 250px auto;
    }

    .title {
      font-size: 32px;
    }

    .plusAndMinusAndButtonContainer {
      display: block;
    }

    .btnContainer {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .productImageContainer img {
      width: 100%;
      height: 328px;
    }

    .salePrice {
      font-size: 56px;
      font-weight: 700;
    }

    .price {
      font-size: 32px;
    }
  }
}

@media (max-width: 480px) {
  .singleProductContainer {
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      "title title"
      "image price"
      "description description";
    grid-template-rows: 50px 250px auto;
  }

  .productImageContainer img {
    width: 100%;
    height: 179px;
  }

  .salePrice {
    font-size: 48px;
    font-weight: 700;
  }

  .price {
    font-size: 28px;
  }

  .textTitle {
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .salePrice {
    font-size: 40px;
    font-weight: 700;
  }
}
