.link_button_all_container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.cart_page_container {
  display: flex;
  margin-bottom: 80px;
}

.cart_page_container_left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.card_container {
  outline: 1px solid rgba(139, 139, 139);
  border-radius: 12px;
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
  display: flex;
}

.image_container {
  width: 200px;
  height: 180px;
}

.image_container img {
  width: 200px;
  height: 180px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  object-fit: cover;
}

.card_info_container {
  width: 100%;
  height: fit-content;
  margin: 20px 32px;
}

.title_and_close_container {
  width: 100%;
  position: relative;
  height: fit-content;
}

.title_and_close_container p {
  color: rgb(40, 40, 40);
  font-size: 20px;
  font-weight: 500;
  width: 95%;
  margin-right: 50px;
}

.title_and_close_container img {
  position: absolute;
  display: flex;
  font-size: 22px;
  right: 0;
  top: 0;
}

.title_and_close_container img:hover {
  cursor: pointer;
  border: 1px solid rgba(139, 139, 139);
  border-radius: 6px;
}

.plus_minus_and_price_container {
  display: flex;
  margin-top: 32px;
  width: 100%;
}

.plus_minus_container {
  display: flex;
  border-radius: 6px;
  border-top: 1px solid rgba(139, 139, 139);
  border-bottom: 1px solid rgba(139, 139, 139);
  height: 58px;
  align-items: center;
}

.price_container {
  display: flex;
  color: rgb(40, 40, 40);
  font-size: 40px;
  font-weight: 600;
  margin-left: 32px;
}

.sale {
  display: flex;
  color: rgb(139, 139, 139);
  font-size: 20px;
  font-weight: 500;
  text-decoration-line: line-through;
  line-height: 130%;
  margin-left: 16px;
  margin-top: 18px;
}

/* ------------------------------------------Form-------------------------------------------- */

.minus {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(139, 139, 139);
  border-radius: 6px;
}

.minus:hover {
  cursor: pointer;
}

.number {
  display: flex;
  width: 96px;
  height: 58px;
  justify-content: center;
  align-items: center;
}

.number p {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  height: 100%;
  align-items: center;
}

.plus {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(139, 139, 139);
  border-radius: 6px;
}

.plus:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------------------- */
.form {
  margin-left: 32px;
  width: 40%;
  height: 582px;
  background-color: rgb(241, 243, 244);
  border-radius: 12px;
  padding: 32px;
}

.order_details {
  color: rgb(40, 40, 40);
  font-size: 40px;
  font-weight: 700;
  height: 100%;
}

.total_items {
  margin-top: 27px;
  font-weight: 500;
  font-size: 40px;
  color: rgb(139, 139, 139);
}

.total_and_price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  color: rgb(139, 139, 139);
  font-size: clamp(28px, 3vw, 40px);
  font-weight: 500;
}

.total_price {
  color: rgb(40, 40, 40);
  font-size: clamp(40px, 5.5vw, 64px);
  font-weight: 700;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 32px;
}

.input_container input {
  width: 100%;
  padding: 16px 32px 16px 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
}

.last_input {
  margin-bottom: 12px;
}

.empty_basket_text {
  margin-bottom: 40px;
  overflow: hidden;
  color: (#282828);
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
}

.button_container {
  width: 57%;
}

.button_container a {
  text-decoration: none;
  margin-bottom: 80px;
}

.link_button_all_container2 {
  display: none;
}

.btn {
  width: 100px;
  height: 50px;
}

@media (max-width: 1385px) {
  .form {
    width: 50%;
    margin-left: 20px;
  }

  .plus_minus_and_price_container {
    display: block;
    margin-top: 12px;
    width: 100%;
  }

  .plus_minus_container {
    width: fit-content;
  }

  .price_container {
    margin-left: 0;
    margin-top: 12px;
  }

  .image_container {
    width: 200px;
    height: 100%;
  }

  .image_container img {
    width: 200px;
    height: 100%;
  }

  .card_info_container {
    margin: 20px 16px;
    height: fit-content;
  }
}

@media (max-width: 1000px) {
  .cart_page_container {
    display: flex;
    gap: 20px;
  }

  .card_container {
    outline: 1px solid rgba(139, 139, 139);
    border-radius: 12px;
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
    display: flex;
  }

  .form {
    width: 60%;
    margin-left: 0;
  }

  .plus_minus_and_price_container {
    display: block;
    gap: 20px;
  }

  .image_container {
    border-left: 12px;
    width: 200px;
    height: 100%;
  }

  .image_container img {
    width: 200px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .card_container {
    outline: 1px solid rgba(139, 139, 139);
    border-radius: 12px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
  }

  .cart_page_container_left {
    display: contents;
  }

  .cart_page_container {
    display: block;
  }

  .image_container {
    width: 40%;
    height: 184px;
  }

  .image_container img {
    width: 100%;
    height: 184px;
    overflow: hidden;
    object-fit: cover;
  }

  .plus_minus_and_price_container {
    display: flex;
    gap: 20px;
  }

  .form {
    width: 100%;
  }
}

@media (max-width: 650px) {

  .link_button_all_container .gray_lane{
  display: none;
  }

  .image_container {
    width: 209px;
    height: 192px;
  }

  .image_container img {
    width: 100%;
    height: 100%;
  }
  
  .plus_minus_container {
    border-radius: 6px;
    border-top: 1px solid rgba(139, 139, 139);
    border-bottom: 1px solid rgba(139, 139, 139);
    height: 47px;
    width: 164px;
    align-items: center;
  }
  .plus {
    width: 47px;
    height: 47px;
  }

  .minus {
    width: 47px;
    height: 47px;
  }
  .plus_minus_and_price_container {
    display: block;
    gap: 20px;
  }

  .button_none {
    margin-bottom: 55px;
  }

  .title_and_close_container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .button_container {
    width: 68.5%;
  }
  .button_none {
    margin-bottom: 50px;
  }

  .image_container {
    width: 116px;
    height: 180px;
    overflow: hidden;
    border-bottom-left-radius: 12px;
  }

  .image_container img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 12px;
  }
  .price_container {
    font-size: 36px;
  }
  .card_info_container {
    width: 70%;
  }
}

@media (max-width: 360px) {
  .button_container {
    width: 95%;
  }
  .button_none {
    display: none;
  }
  .link_button_all_container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -40px;
  }

  .title_and_close_container p {
    width: 100%;
    position: relative;
    height: fit-content;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}
