.banner_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  max-width: 1440px;
  height: 600px;
  background-image: url("../../media/MainPageBackground.jpg");
  flex-direction: column;
}

.banner_text {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin-top: 80px;
  font-size: clamp(52px, 8vw, 96px);
  font-weight: 700;
  width: 80%;
  margin-bottom: 40px;
  margin-left: 40px;
  height: fit-content;
}

.categories_not_all_container a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

.sale {
  height: 300px;
  width: 1360px;
  background: aqua;
  margin-bottom: 80px;
}

.link_button_all_container {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_check_out_container button {
  margin-left: 40px;
  padding: 16px 56px 16px 56px;
}

.top_sales_container {
  width: 100%;
}

.link_button_categories_active {
  display: none;
}
.link_button_sales_active {
  display: none;
}

.scroll_top{
  width: 50px;
  height: 50px;
  background-color: red;
}

@media (max-width: 1000px) {
  .button_check_out_container {
    margin-left: -20px;
  }

  .banner_text {
    width: 97%;
/*     font-size: 90px;
 */    margin-right: 20px;
    margin-left: 20px;
  }
  .categories_all_container {
    gap: 20px;
    margin-bottom: 20px;
    height: fit-content;
  }
  .categories_all_container img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  /* .bannerText {
    font-size: 68px;
  } */
}

@media (max-width: 480px) {
  /* .bannerText {
    font-size: 60px;
  } */

  .button_check_out_container button {
    padding: 12px 52px 12px 52px;
  }
}

@media (max-width: 360px) {
  /* .bannerText {
    font-size: 52px;
  } */
  .link_button_sales {
    display: none;
  }
  .link_button_categories_active {
    margin-left: 90px;
    margin-top: 0px;
    margin-bottom: 60px;
    display: block;
  }
  .link_button_sales_active {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 30px;
    display: block;
  }

  .link_button_categories {
    display: none;
  }
}
