header {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  margin-left: 32px;
  color: black;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

a:hover {
  text-decoration: none;
  text-underline-offset: 8px;
  color: rgb(51, 153, 51);
}

.line {
  height: 1px;
  top: 128px;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(217, 217, 217, 1);
}

.cart_circle_container {
  width: 44px;
  height: 48px;
  position: relative;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  top: 5px;
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: rgb(51, 153, 51);
  border-radius: 50%;
}

.cart_circle_container img {
  width: 100%;
}

.circle p {
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.cart_and_burger_menu_container {
  display: flex;
  gap: 5px;
}

.cart_logo_container {
  display: flex;
  width: fit-content;
}

.cart_logo_container img {
  width: 50px;
}

@media (max-width: 750px) {
  .navbar a {
    display: none;
  }
  header {
    display: flex;
    padding-right: 80px;
  }

  .burger {
    top: 45px;
    right: -15px;
  }
}

@media (max-width: 480px) {
  .navbar a {
    display: none;
  }

  header {
    display: flex;
    padding-right: 80px;
  }

  .cart_logo_container {
    width: 50px;
  }

  .burger {
    top: 45px;
    right: -15px;
  }
}
/* @media (max-width: 360px) {
} */
