.btn {
  padding: 16px 32px 16px 32px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(51, 153, 51, 1);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.btn:hover {
  background-color: #282828;
}

.btn_active {
  padding: 16px 52px 16px 52px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  background-color: #ffffff;
  color: black;
  border: none;
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
