@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .wrapper {
    margin: 0 20px;
    padding: 0;
  }
}
